#requestWindowListItemContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: dashed 5px #212121;
  border-radius: 5px;
  padding: 10px;
  margin-left: 0px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  -webkit-animation-duration: 1s;
  cursor: pointer;
}

#requestWindowListItemContainer:hover {
  transform: scale(1.05);
}

#availableDate {
  font-size: 26px;
}

#availableWindow {
  font-size: 26px;
}

#requestWindowListItemIcon {
  grid-column: 1;

  height: 33%;
  width: 33%;
}

#requestWindowListItemInfo {
  grid-column: 2;
}
