#requestWindowListItemContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: dashed 5px #212121;
  border-radius: 5px;
  padding: 10px;
  margin-left: 0px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  -webkit-animation-duration: 1s;
  cursor: pointer;
}

#requestWindowListItemContainer:hover {
  transform: scale(1.05);
}

#availableOnLabel {
  grid-column: 2;
  grid-row: 1;
}

#availableDate {
  grid-column: 2;
  grid-row: 2;
  font-size: 26px;
}

#availableWindow {
  grid-column: 2;
  grid-row: 4;
  font-size: 26px;
}

#fromLabel {
  grid-column: 2;
  grid-row: 3;
}
