.container {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 10px;
  grid-template-areas:
  "header header header"
  "banner banner banner"
  "serviceOne serviceTwo serviceThree"
}

.header {
  grid-area:header;
}

.banner {
  grid-area:banner;

}

.serviceOne {
  grid-area: serviceOne;

}

.serviceTwo {
  grid-area: serviceTwo;
}

.serviceThree {
  grid-area: serviceThree;

}
