#service {
  grid-template-columns: 1fr;
  text-align: center;
  border: 5px solid #212121;
  border-radius: 5px;
}

#service:hover{
  grid-template-columns: 1fr;
  text-align: center;
  border: 5px solid #212121;
  border-radius: 5px;
  transform: scale(1.02);
}

#icon {
  margin-top: 5%;
  height: 33%;
  width: 33%;
}

#serviceNameContainer{
  padding: 10px;
}

#serviceName {
  color: #212121;
  display: inline-block;
  border-bottom: dashed 5px #212121;
  font-family: 'Rubik', sans-serif;
  font-size: 32px;

}

#description {
  color: #212121;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
}

#getStartedServiceButton {
  border: solid 5px #212121;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 32px;

}

#getStartedServiceButton: hover {
  border: solid 5px red;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
  transform: scale(1.02);
}
