#buttonContainer {
  padding: 10px;
  border: solid 1px #607d8b;
  border-radius: 3px;
  text-align: center;
  background-color: #ffffff;
  color: #212121;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  -webkit-animation-duration: 1s;
  font-size: 15px;
}

#buttonContainer:hover {
  color: #ffffff;
  background-color: #08a2e5;
  transform: scale(1.035);
}

.userButtonDropdownContainer {
  position: relative;
  display: inline-block;
}

#userButtonContainer {
  border: none;
  float: right;

  border-radius: 30px;
  background-color: #006064;
  color: #212121;
  cursor: pointer;
}

#userIcon {
  color: white;
}

.dropdownArrow {
  display: none;
  position: absolute;
  top: 40px;
  left: 6px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;

  z-index: 3;
}

.dropdownContent {
  display: none;
  right: 0;
  top: 55px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 3px;
  width: 100px;
  box-shadow: 0px 0.1px 0.1px #212121;
  z-index: 2;
}

.dropdownContent menuitem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.userButtonDropdownContainer:hover .dropdownContent {
  display: block;
}

.userButtonDropdownContainer:hover .dropdownArrow {
  display: block;
}

#userButtonContainer:hover {
  transform: scale(1.01);
}
